@mixin flex($flex_direction : null, $align_items : null, $justify_content : null){
    display: flex;
    @if($flex_direction != null){
        flex-direction: $flex_direction;
    }
    @if($align_items != null){
        align-items: $align_items;
    }
    @if ($justify_content != null) {
        justify-content: $justify_content;
    } 
}

@mixin grid($column_start, $column_end, $row_start, $row_end){
    grid-column-start: $column_start;
    grid-column-end: $column_end;
    grid-row-start: $row_start;
    grid-row-end:$row_end;
}

@mixin breakpoint($width){
    @media screen and (max-width: $width){
        @content;
    }
}


