@use "mixins";

$poppins: 'Poppins', sans-serif;
$inter : 'Inter', sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $poppins;
}

html {
    font-size: 62.5%;
}

body{
    background-color:  #1E1E1E;
}


#header{
    margin-top:5.5rem; 
    @include mixins.flex(null, center, space-between);
    @include mixins.breakpoint(745px){
        @include mixins.flex(null, center, space-around);

    }
    #burgerMenu{
        display: none;
        @include mixins.breakpoint(745px){
            display: block;
        }
    }

    #containerLogoGreatings{
        @include mixins.flex(null, center, space-between);

        #theLogo{
            margin-left: 5.3rem;
            max-width:25.5rem;
            #VectorLogo{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        #greatingsUser{
            color:  #FFFFFF;
            font-weight: 500;
            font-size: 3.5rem;
            margin-left: 5.6rem;
            @include mixins.breakpoint(1365px){
                font-size: 2.4rem;
                margin-left: 0;
            }
            @include mixins.breakpoint(745px){
                display: none
            }
            
        }
    }

    #containNotifSearch{
        @include mixins.flex(row, null, null);

        #searchBar{
            max-width: 47.6rem;
            min-width: 40rem;
            height: 5rem;
            border-radius: 1.5rem;
            background-color: #FFFFFF;
            @include mixins.flex(null, center,null);
            @include mixins.breakpoint(1365px){
                max-width: 30rem;
                min-width: 10rem;
            }
            @include mixins.breakpoint(745px){
                display: none
            }

            #searchIconContainer{
                margin-left: 2.3rem;
                margin-right: 1.509rem;
                // margin-top: 0.847rem;
                // margin-bottom: 0.847rem;
                #searchIcon{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    // object-fit: contain;
                }
            }

            #theSearBar{
                height: 5rem;
                width: 100%;
                border-radius: 1.5rem;
                border:none;
                font-family: $inter;
                font-size: 2.5rem;
            }

            #theSearBar::placeholder{
                color: #000000;
            }
        }
        #notification{
            margin-left: 10.3rem;
            @include mixins.breakpoint(1365px){
                margin: 0 1rem;
            }
        }
    }

    #profilePic{
        margin-right: 1.9rem;
    }
    
}

#partsContainer{
    @include mixins.flex(row, null, space-around);

}


#leftContent{
    margin-top: 13.3rem;
    // margin-left: 6.3rem;
    height: 88rem;
    @include mixins.flex(column, center, space-between);
    @include mixins.breakpoint(1365px){
        @include mixins.flex(null, center ,flex-start);
    }
    @include mixins.breakpoint(745px){
        display: none
    }


    #dashboardContainer{
        @include mixins.flex(null, center , center);
        max-width: 25.3rem;
        height: 6.5rem;
        border-radius: 1.7rem;
        margin-bottom: 4.4rem;
        background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
        p{
            font-size: 2.5rem;
        }
        #dashBoardIcon{
            padding-right: 1.7rem;
        }
        @include mixins.breakpoint(1365px){
            // margin-left: 1rem;
            // max-width: 20rem;
            width: 8rem;
            margin: 0;
            p{
                display: none
            }
            #dashBoardIcon{
                padding:0;
            }
        }
        
        
    }

    .dashboardOnglet{
        @include mixins.flex(row, center,null);
        padding: 1.65rem;

        .dashboardIcon{
            @include mixins.flex(null, null, center);
            width: 5.6rem;
        }
    
        p{
            margin-left: 1rem;
            font-size: 2.5rem;
            font-weight: 500;
            color: #FFFFFF;
            opacity: 80%;
        }
    }
    #dashboardContent{
        @include mixins.breakpoint(1365px){
            display: none;
        }
    }

    @include mixins.breakpoint(1365px){}

    #logout{
        @include mixins.breakpoint(1365px){
            p{
                display: none;
            }
        }
    }
}

#middleContent{
    @include mixins.breakpoint(1365px){
        width: 80%;
    }
    

    #topInfoContent{
        margin-top: 3.5rem;
        margin-bottom: 4.2rem;
        @include mixins.flex(null, center, flex-start);
        @include mixins.breakpoint(1365px){
            @include mixins.flex(column, center, center);

        }
        #balanceContainer{
            color: #FFFFFF;
            font-family: $poppins;
            margin-right: 9.1rem;
            #balanceText{
                font-weight: bold;
                font-size: 2.2rem;
                @include mixins.breakpoint(1365px){
                    font-size: 1.7rem;
                }
            }   
            #bitcoinBalance{
                font-size: 2.9rem;
                @include mixins.breakpoint(1365px){
                    font-size: 2.4rem;
                }
                font-weight: 700;
                        @include mixins.flex(null, center, null);

                #iconBTC{
                    @include mixins.flex(null, center, center);
                    margin-left: 1.7rem;
                    width: 4.9rem;
                    height: 2.5rem;
                    background-color: #FAFF00;
                    border-radius: 0.8rem;
                    p{
                        font-size: 1.5rem;
                        font-family:$inter;
                        font-weight: 700;
                        color: #000000; 
                    }
                }
            }
            #balanceMoney{
                opacity: 70%;
                font-size: 2.2rem;
                font-weight: 600;
            }
        }

        #graphCategories{
            background-color:#292727;
            height: 6.2rem;
            width: 43.9rem;
            border-radius: 1.7rem;
            #categoriesContainer{
                @include mixins.flex(row, center, space-between);
                padding:1.1rem 1.9rem;
                .categoriesButton{
                    font-family: $poppins;
                    color: #FFFFFF;
                    font-size: 2.2rem;
                }
                .categoriesClicked{
                    padding: 0.55rem 2.2rem;
                    background-color: #0D0C0C;
                    border-radius: 1.7rem;
                    
                }
            }
           
        }
    }

    #graphTransaction{
        @include mixins.breakpoint(1365px){
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    #graph{
        width: 100%;
        @include mixins.breakpoint(1365px){
            // max-width: 50%;
            // min-width: 30%;
        }
        #theGraph{
        // width: 80%;
            img{
                @include mixins.breakpoint(1365px){
                    width: 100%;
                    height: 100%;
                    // object-fit: contain
                }
            }
        }

    }

    #transaction{
        width: 100%;
        @include mixins.breakpoint(1365px){
            @include mixins.flex(column, center, center);
        }
        margin-top: 2.1rem;
        #transactionTitle{
            p{
                font-family: $poppins;
                font-weight: 700;
                color: #FFFFFF;
                font-size: 2.2rem;
            }
        }
        #transaction1{
            margin-top: 2.3rem;
        }
        #transaction2{
            margin-top: 2.1rem
        }
        #transactionInfoContainer{
            .transactionStyle{
                @include mixins.flex(row, center,space-around);
                background-color: rgba(32, 35, 43, 0.7);
                border-radius: 3rem;
                max-width: 91.8rem;
                height: 7.9rem;
                
            }
            p{
                font-family: $inter;
                font-size: 1.7rem;
                color: #FFFFFF;
                opacity: 0.95;
                @include mixins.breakpoint(1365px){
                    font-size: 1.4rem;
                    padding: 0.8rem;
                    font-size: 1.2rem;
                }
            }
            #textTransactionBlue{
                color: #1970D6;
                opacity: 0.7;
                font-family: $inter;
                font-weight: 600;
                font-size: 1.7rem;
                @include mixins.breakpoint(1365px){
                    font-size: 1.2rem;
                }
            }
            #textTransactionViolet{
                color: #6C1182;
                opacity: 0.7;
                font-family: $inter;
                font-weight: 600;
                font-size: 1.7rem;
                @include mixins.breakpoint(1365px){
                    font-size: 1.2rem;
                }
            }
            #textTransactionRed{
                color: #D61919;
                opacity: 0.7;
                font-family: $inter;
                font-weight: 600;
                font-size: 1.7rem;
                @include mixins.breakpoint(1365px){
                    font-size: 1.2rem;
                }
            }
            #textTransactionGreen{
                color: #4AD619;
                opacity: 0.7;
                font-family: $inter;
                font-weight: 600;
                font-size: 1.7rem;
                @include mixins.breakpoint(1365px){
                    font-size: 1.2rem;
                }
            }

            .tradeButton{
                background-color: #000000;
                border-radius: 3rem;
                p{
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 1.7rem;
                    color: #FFFFFF;
                    padding: 0.6rem 1.8rem;
                    @include mixins.breakpoint(1365px){
                        font-size: 1.2rem;
                    }
                    
                }
                @include mixins.breakpoint(1365px){
                    margin: 0.5rem;
                }
                
            }
        }
    }
}

#rightContent{
    height: 91.7rem;
    @include mixins.flex(column, null , space-between);
    margin-top: 8.793rem;
    @include mixins.breakpoint(1365px){
        @include mixins.flex(null, center, null);
    }
    #titleRecent{
        font-family: $poppins;
        font-weight: 700;
        font-size: 2.2rem;
        color: #FFFFFF;
        @include mixins.breakpoint(1365px){
            font-size: 2rem;
        }
    }
    #recentTransactions{
        max-width: 40.7rem;
        // height: 32.3rem;


        #recentTransactionContainer{
            height: 36.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .recentStyle{
                @include mixins.flex(row, center,space-around);
                @include mixins.breakpoint(1365px){
                    @include mixins.flex(column, center, center);

                }
                .secondContentStyleRecent{
                    @include mixins.breakpoint(1365px){
                        @include mixins.flex(column, center, center);
                    }
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 1.9rem;
                    color: #FFFFFF;
                    p:nth-child(2){
                        opacity: 0.7;
                    }
                    @include mixins.breakpoint(1365px){
                        font-size: 1.4rem;
                    }
                }

                .thirdContentStyleRecent{
                    @include mixins.breakpoint(1365px){
                    @include mixins.flex(column, center, center);
                }
                    .moneyRecentGreen{
                        color: #4AD619;
                        font-family: $inter;
                        font-weight: 600;
                        font-size: 1.9rem;
                        @include mixins.breakpoint(1365px){
                            font-size: 1.4rem;
                        }
                    }
                    .moneyRecentRed{
                        color: #D61919;
                        font-family: $inter;
                        font-weight: 600;
                        font-size: 1.9rem;
                        @include mixins.breakpoint(1365px){
                            font-size: 1.4rem;
                        }
                    }
                    .dateRecent{
                        font-family: $inter;
                        font-weight: 600;
                        font-size: 1.9rem;
                        color: #FFFFFF;
                        opacity: 0.7;
                        @include mixins.breakpoint(1365px){
                            font-size: 1.4rem;
                        }
                    }
                }

                .recentIconContainer{
                    @include mixins.flex(null, center , center);
                    width: 5.4rem;
                    height: 5.4rem;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    #assets{
        margin-top: 5.2rem;
        @include mixins.breakpoint(1365px){
            margin-top: 45rem;
        }
        #assetTitle{
            font-family: $poppins;
            font-weight: 700;
            font-size: 2.5rem;
            color: #FFFFFF;
            margin-bottom: 1.5rem
        }
        @include mixins.flex(column, null,null);
        @include mixins.breakpoint(1365px){
            @include mixins.flex(column, center,null);

        }

        #assetsContainer{
            .assetBasicStyle{
                @include mixins.flex(row, flex-end,space-between);
                max-width: 40.7rem;
                height: 17.4rem;
                border-radius: 3rem;
                padding: 0.6rem 5.1rem 1.1rem 3.2rem;
                @include mixins.breakpoint(1365px){
                    max-width: 35.7rem;
                    @include mixins.flex(row, center,space-between);

                }

                .firstContentAsset{
                    p{
                        font-family: $inter;
                        font-weight: 600;
                        font-size: 1.9rem;
                        @include mixins.breakpoint(1365px){
                            font-size: 1.4rem;
                        }
                    }
                    p:nth-child(3){
                        font-size: 2.7rem;
                        @include mixins.breakpoint(1365px){
                            font-size: 2rem;
                        }
                    }
                }

                .secondContentAsset{
                    p{
                        font-family: $inter;
                        font-weight: 600;
                        font-size: 2.7rem;
                        @include mixins.breakpoint(1365px){
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            #ethAsset{
                color: #000000;
                background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
                
            }
            #btcAsset{
                color: #FFFFFF;
                margin-bottom: 2.8rem;
                background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
            }
        }
    }
}